/* 
	--------------------------------------------------------------------
	--------------------------------------------------------------------
	This file is part of SimPol.

    SimPol is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    SimPol is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with SimPol.  If not, see <http://www.gnu.org/licenses/>. 
    --------------------------------------------------------------------
    --------------------------------------------------------------------
-*/



body { 
	font-family: Arial; 
	%background-color:#ebe9e7;
}

optgroup {
	color:black;
}

canvas {
	Vertical-align: middle;
}

.comment {
		color: #228b22;
	}

.code {
	font-family:'Courier New';
	%font-weight:bold;
}


.code ol { 
	    counter-reset: item;
	}
	

.code ol li { 
	display: block; 
}


.code ol li:before { 
	content: counter(item) "  "; 
	counter-increment: item;
	color:#545454;
	font-weight: bold;
	text-align:right;
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
		   -moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently
									  supported by Chrome and Opera */
}
	


.errorMsg{
	background-color:#FFFFB2; 
	padding: 5 2 5 2; width:95%; 
	text-align:center; 
	border-style: solid; 
	border-width: 1px; 
	border-color:#f0c36d;  
	margin: auto; 
	font-size: 14px;
	border-radius: 5px;
}


@media screen and (orientation:portrait) {
  #landscapeRequest {
	display:block;
  }


}


@media screen and (orientation:landscape) {
  #landscapeRequest {
	display:none;
  }
}


label {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}


img {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
   user-select: none;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

:focus {
	outline: 0;
}

.logo{
	cursor:pointer;

}

.ref{

	padding:5;
	width:100%;
	line-height: 25px;

}

div.vertical{
  margin-right: -40px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); /* Safari/Chrome */
  -moz-transform: rotate(-90deg);    /* Firefox */
  -o-transform: rotate(-90deg);      /* Opera */
  -ms-transform: rotate(-90deg);     /* IE 9 */
}

.rotate10 {
  transform: rotate(20deg) translateY(-100%);
  -webkit-transform: rotate(20deg) translateY(-100%);
  -ms-transform: rotate(20deg) translateY(-100%);
}

.rotate350 {
  transform: rotate(340deg) translateY(-100%);
  -webkit-transform: rotate(340deg) translateY(-100%);
  -ms-transform: rotate(340deg) translateY(-100%);
}





.landscape {
    background-color: #ebe9e7;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
	width:450px;
}


.rotate180 {
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);             /* W3C compliant browsers */

  /* IE8 and below */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
} 


.scrollbar::-webkit-scrollbar {
	width: 12px;
	background-color: #ebe9e7;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #008cba;
}


.main-block{

	%border:1px solid black;
	background-color: #858280;
	width:80%;
	font-family:Arial;
	margin:auto;
	padding: 5 5;
	border-radius:10px;

}

.main-block-inner{
	background-color:white;
	border-radius:10px;

}

.about-block{
	
	padding:20 20; 
	font-family:Arial;
	%background-color: #ebe9e7;
	font-size: 18px;
	display:block;
	text-align: justify;
	position: relative;
	clear:both;

}

.about-block-inner{
	%border:1px solid black;
	%background-color: white;
	

}


.block-title{
	text-align:center; 
	font-size:45px; 
	font:bold; 
	color:#008CBA;
}

.block-title > .minimise{
	width:30px; 
	height:30px; 
	font-size:20;
	cursor:pointer;
	
}




.block-subtitle{
	text-align:center; 
	font-size:40px; 
	font:bold; 
	color:#008CBA
}

.block-subsubtitle{
	text-align:center; 
	font-size:20px; 
	color:#008CBA
}


#theToolbar{
	%border-style: solid; 
	%border-width: 2px; 
	%border-color:#b20000; 
	
	
}

.toolbar {
	background-color: #424f4f;
	width:60px;
	text-align:center;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;


}



.toolbarIcon {
	background-color: #ebe9e7;
	padding: 5 5;
	text-align:center;
}


.toolbarIconDisabled {
	background-color: #adadad;
	cursor:auto;
}

.operation {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	vertical-align: middle; 
	width:110px;
	cursor:pointer;
	%box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.ntp {
    background-color: #008CBA;
	color: white;
    border: none;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	vertical-align: middle; 
	width:18px;
	height:18px;
	cursor:pointer;
}

.ntp-selected {
    background-color: #b20000;
	cursor:auto;
}

.minimise {
    background-color: #008CBA;
	opacity: 1.0;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
	vertical-align: middle; 
	width:20px;
	height:20px;
	cursor:pointer;
	border-radius:5px;
}

.spacer {
	width:10px;
	height:10px;	
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    %background-color: #008CBA; /*baafab*/
	background-color: #b3b3b3; /*baafab*/
    overflow-x: hidden;
    overflow-y:scroll;
    transition: 0.5s;
    padding-top: 50px;
	text-align:left;
}

.help{
	vertical-align:middle;
}

.helpIcon {
	width:15px;
	cursor: pointer;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: -2px;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
    color: #ebe9e7;
}


.blueCloseBtn:hover{
    color: white;
}

.blueCloseBtn {
    font-size: 30px;
	color:#008cba;
	vertical-align:top;
	cursor:pointer;
	float:right;
	position:absolute;
	top: -5px;
	right: 5px;
}


.blueDarkblueCloseBtn:hover{
    color: #708090;
}

.blueDarkblueCloseBtn {
    font-size: 30px;
	color:#008cba;
	vertical-align:top;
	cursor:pointer;
	float:right;
	position:absolute;
	top: -5px;
	right: 5px;
}

#main {
    transition: margin-left .5s;
    padding: 5px;
}




@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.ABC_output_highlighted {

	background-color:#663399;
	color:white;
	display:inline;

}

.parameter-bg {
	%background-color: #ebe9e7;
	background-color: white;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
	transition: 0.5s;
	
}

.panelOuter{

	%background-color: #008bca;
	%background-color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    %padding: 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
	transition: 0.5s;


}


.panelInner{
	padding: 5px 5px;
	%background-color: white;
	background-color:ebe9e7;

}

.parameter-title {
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	
}

.header {
	background-color: #b3b3b3;
	min-width:99%;
	padding: 5px 5px;
	text-align: center;
	font-family: "Arial";
	%box-shadow: 5px 4px 8px 0 #424f4f, 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plot-dropdown {
    position: relative; 
	font-family: "Arial";
    padding: 5px;
	font-size:18px;
    margin: 0 auto;
    background: #008CBA;
    color: white;
    outline: none;
    cursor: pointer;
}

.dropdown {
    position: relative; 
	font-family: "Arial";
    padding: 5px;
	font-size:14px;
    margin: 0 auto;
    background: #008CBA;
    color: white;
    outline: none;
    cursor: pointer;

}

.dropdown-disabled {
    position: relative; 
	font-family: "Arial";
    padding: 2px 3px;
	font-size:14px;
    margin: 0 auto;
    background: #858280;
    color: white;
    outline: none;
    cursor: default;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-overflow: '';
}

.variable{
	color:white;
	background-color: #008CBA;
	/* font-size:16px;
	height:22px; */
}

.paramHelp {
	padding:5 5;
	background-color:#ebe9e7;
}


.refLink{
	text-decoration: none; 
	color:#008CBA;
}


.helpSelected  {
	background-color:#708090;
	color:white;
}


.helpSelected * {
	color:white;
}



.parameter-disabled {
	
    margin: 0 auto;
    background: #858280;
    outline: none;
    cursor: default;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-overflow: '';
	color: white;
	-webkit-text-fill-color:white;
	
	
}


:disabled {
	cursor:auto;
	
}

input {
	box-shadow: none;
}



.textboxBlue{
	color:white;
	background-color: #008CBA;


}


.textboxBlue::-webkit-input-placeholder{
    color:white;
}

.textboxBlue::-moz-placeholder{
    color:white;
}


.variable-active{
	background-color: #1e7d1e;
	color:white;
	cursor:pointer;
}

.variable-cursor{
	cursor: url("src/Images/cursorHover.png"), pointer;
}

.distn{
	padding: 3 3;
	vertical-align: middle; 
	width:38px; 
	height:12px;
	float:right;
	cursor:pointer;
}


.distn_inline{
	padding: 3 3;
	vertical-align: bottom; 
	width:38px; 
	height:12px;
	text-align:right;
	cursor:pointer;
}




/* Slider toggle CSS. Modified from https://www.w3schools.com/howto/howto_css_switch.asp */


 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
  vertical-align:middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 6px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .3s;
	transition: .3s;
}

.notboolean{
	background-color: #008CBA;	
}

input:checked + .slider {
	background-color: #008CBA;		
}

input:focus + .slider {
	box-shadow: 0 0 1px #008CBA;
}

input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
	
} 


.rangeslider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 26px; /* Specified height */
    background: #008cba; 
    outline: none; /* Remove outline */
	border-radius: 20px;
	transform: rotate(90deg);
	padding: 5 5;
	transform-origin: left top 0;
	margin-left: 26px;
	
}


/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.rangeslider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: white; 
    cursor: pointer; /* Cursor on hover */
	border-radius: 20px;
}

.rangeslider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: white; 
    cursor: pointer; /* Cursor on hover */
	border-radius: 20px;
}

