/* 
	--------------------------------------------------------------------
	--------------------------------------------------------------------
	This file is part of SimPol.

    SimPol is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    SimPol is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with SimPol.  If not, see <http://www.gnu.org/licenses/>. 
    --------------------------------------------------------------------
    --------------------------------------------------------------------
-*/


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body { 
	font-family: "Source Sans Pro", "Arial"; 
	text-size-adjust: 200%;
	%background-color:#ebe9e7;
}



@media only screen and ( min-device-width: 1000px ) {
	.mobile-display{
		display:none;
	}
}

#sequencesTableDIV{
	text-size-adjust: 100%;
}


h3.equation{
	text-size-adjust: 150%;
}



.ABCcurveRow{
	text-size-adjust: 150%;
}


.title{
	text-size-adjust: 400%;
}

.navArrow{
	font-size:15px;
	text-size-adjust: 100%;
	position:absolute;
	z-index:2;
	
}

#numSimSpan{
	text-size-adjust: 140%;
}


.glowing {
	filter: invert(100%);
    background-color:#f0c36d; 
    border-color: #FFFFB2; 
    -webkit-box-shadow: 0 0 10px #FFFFB2; 
       -moz-box-shadow: 0 0 10px #FFFFB2; 
            box-shadow: 0 0 10px #FFFFB2; 
}




a {

    text-decoration:none;
    
}




optgroup {
	color:black;
}

.modelSelected{
	background-color:#858280;
	cursor:auto;
    color: white;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	vertical-align: middle; 
	width:110px;
}


.modelSelectedTextarea{
	background-color:#008cba;
    color: white;
}



canvas {
	Vertical-align: middle;
}

.comment {
		color: #228b22;
	}

.code {
	font-family:'Courier New';
	%font-weight:bold;
}



ol.code { 
    counter-reset: item;
    width: 90%;
}
	

.code ol li { 
	display: block; 
}


.code ol li:before { 
	content: counter(item) "  "; 
	counter-increment: item;
	color:#545454;
	font-weight: bold;
	text-align:right;
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
		   -moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently
									  supported by Chrome and Opera */
}
	


.errorMsg{
	background-color:#FFFFB2; 
	padding: 5 2 5 2; width:95%; 
	text-align:center; 
	border-style: solid; 
	border-width: 1px; 
	border-color:#f0c36d;  
	margin: auto; 
	font-size: 14px;
	border-radius: 5px;
}




label {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}


img {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
   user-select: none;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

:focus {
	outline: 0;
}

.logo{
	cursor:pointer;

}

.ref{

	padding:5;
	width:100%;
	line-height: 25px;

}

div.vertical{
  margin-right: -40px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); /* Safari/Chrome */
  -moz-transform: rotate(-90deg);    /* Firefox */
  -o-transform: rotate(-90deg);      /* Opera */
  -ms-transform: rotate(-90deg);     /* IE 9 */
}

.rotate10 {
  transform: rotate(20deg) translateY(-100%);
  -webkit-transform: rotate(20deg) translateY(-100%);
  -ms-transform: rotate(20deg) translateY(-100%);
}

.rotate350 {
  transform: rotate(340deg) translateY(-100%);
  -webkit-transform: rotate(340deg) translateY(-100%);
  -ms-transform: rotate(340deg) translateY(-100%);
}





.landscape {
    background-color: #ebe9e7;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
	width:450px;
}


.rotate180 {
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);             /* W3C compliant browsers */

  /* IE8 and below */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
} 


.scrollbar::-webkit-scrollbar {
	width: 12px;
	background-color: #ebe9e7;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #008cba;
}


.main-block{

	%border:1px solid black;
	background-color: #858280;
	width:80%;
	min-width:38em;
	margin:auto;
	padding: 5 5;
	border-radius:10px;

}

.main-block-inner{
	background-color:white;
	border-radius:10px;

}

.about-block{
	
	padding:20 20; 
	%background-color: #ebe9e7;
	font-size: 18px;
	display:block;
	text-align: justify;
	position: relative;
	clear:both;

}

.about-block-inner{
	%border:1px solid black;
	%background-color: white;
	

}


.block-title{
    padding-top:10px;
    padding-bottom:2px;
	text-align:left; 
	font-size:36px; 
	font:bold; 
	color:#008CBA;
}





.block-subtitle{
	text-align:left; 
	font-size:32px; 
	%margin-left:2em;
	font:bold; 
	color:#008CBA;
    display: inline-block;
    padding-bottom:5px;
}

.block-subsubtitle{
	text-align:left; 
	font-size:20px; 
	color:#008CBA
}

.block-subtitle.centered{
	%text-align:center;
	%width:100%;
}



#theToolbar{
	%border-style: solid; 
	%border-width: 2px; 
	%border-color:#b20000; 
	
	
}

.toolbar {
	border-radius: 10px;
	background-color: #424f4f;
	width:60px;
	text-align:center;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
	margin-left:10px;

}

@media only screen and ( max-device-width: 1000px ) {
	.toolbar{
		margin-left:60px;
	}
}

.icon{
	vertical-align: middle;
	height:38px;
	margin-left:5px;
	margin-right:5px;
}


.icon.small{
	height:28px;
}


#plotsTableDIV .icon{
	height:25px;
}


#plots4 .icon{
	height:25px;
}


@media only screen and ( max-device-width: 1000px ) {
	.icon{
		height:45px;
	}
	
	.icon.small{
		height:40px;
	}
	
}



.toolbarIcon {
	background-color: #ebe9e7;
	padding: 3 3;
	text-align:center;
}


.toolbarIconDisabled {
	background-color: #adadad;
	cursor:auto;
}

.operation {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	vertical-align: middle; 
	width:110px;
	cursor:pointer;
	%box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.operation.glowing {
    background-color:#f0c36d; 
    border-color: #FFFFB2; 
    color:#f0c36d;
    -webkit-box-shadow: 0 0 10px #FFFFB2; 
       -moz-box-shadow: 0 0 10px #FFFFB2; 
            box-shadow: 0 0 10px #FFFFB2; 
}









.section .minimise {
	
    line-height: 1.2em;
    font-size: 30px;
    cursor: pointer;
    padding: 0em 0.3em 0em 0.3em;
    margin: 0.2em;
}


.minimise {
	font-family: "Source Sans Pro", "Arial"; 
    background-color: #008CBA;
	opacity: 1.0;
    border: none;
    color: white;
    padding-bottom: 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
	vertical-align: middle; 
	width:1.2em;
	height:1.2em;
	line-height:1em;
	cursor:pointer;
	border-radius:5px;
	
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	
}


.spacer {
	width:10px;
	height:10px;	
}






.sidenav {
    height: 100%;
    width: 0;

    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    %background-color: #008CBA; /*baafab*/
	background-color: #b3b3b3; /*baafab*/
    overflow-x: hidden;
    overflow-y:scroll;
    transition: 0.5s;
    padding-top: 50px;
	text-align:left;
}

.help{
	vertical-align:middle;
}

.helpIcon {
	width:15px;
	cursor: pointer;
	vertical-align:middle;
}

@media only screen and ( max-device-width: 1000px ) {

	.helpIcon{
		width:30px;
	}
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: -2px;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
    color: #ebe9e7;
}


.blueCloseBtn:hover{
    color: white;
}

.blueCloseBtn {
    font-size: 30px;
	color:#008cba;
	vertical-align:top;
	cursor:pointer;
	float:right;
	position:absolute;
	top: -5px;
	right: 5px;
}


.blueDarkblueCloseBtn:hover{
    color: #708090;
}

.blueDarkblueCloseBtn {
    font-size: 30px;
	color:#008cba;
	vertical-align:top;
	cursor:pointer;
	float:right;
}

#main {
    transition: margin-left .5s;
    padding: 5px;
}





.ABC_output_highlighted {

	background-color:#663399;
	color:white;
	display:inline;
	padding: 0 1;

}

.parameter-bg {
	%background-color: #ebe9e7;
	background-color: white;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
	transition: 0.5s;
	
}

.panelOuter{

	%background-color: #008bca;
	%background-color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    %padding: 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
	transition: 0.5s;
    margin-bottom:20px;
    margin-left:150px;

}


.panelOuter.smallgap {
	margin-left:2em;
	margin-right:2em;

}


@media only screen and ( max-device-width: 1000px ) {

	.panelOuter{
		margin-left:250px;
	
	}
	
	input[type=checkbox] {
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  transform: scale(2);
	  padding: 10px;
	  margin-right:15px;
	  
	}

}


input[type=checkbox] {
	vertical-align:middle;

}


.panelInner{
	padding: 5px 5px;
	background-color: white;
}




.parameter-title {
	font-size: 18px;
	font-family:Raleway, Arial;
	text-decoration: none;
	text-align: center;
    %display:inline-block;
	
}

.header {
	background-color: white;
	min-width:99%;
	padding: 5px 5px;
	text-align: center;
	%box-shadow: 5px 4px 8px 0 #424f4f, 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plot-dropdown {
    position: relative; 
    padding: 5px;
	font-size:18px;
    margin: 0 auto;
    background: #008CBA;
    color: white;
    outline: none;
    cursor: pointer;
    margin-right:10px;
    margin-left:10px;
}

.dropdown {
    position: relative; 
    padding: 5px;
	font-size:14px;
    margin: 0 auto;
    background: #008CBA;
    color: white;
    outline: none;
    cursor: pointer;

}


.bluegrey {
    background-color:#708090;

}

.greenTick {
    background-color:#A5CF19; 
    color:#0B522D; 
    padding: 5 5; 
    font-size: 20px;
    border-radius: 30px;
 }

.loader {
    border: 12px solid #ebe9e7; 
    border-top: 12px solid #008cba; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}


.loader_small {
    border: 8px solid #ebe9e7; 
    border-top: 8px solid #008cba; 
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

optgroup {
	font-size:14px;
    color: white;
}

.dropdown-disabled {
    position: relative; 
    padding: 2px 3px;
	font-size:14px;
    margin: 0 auto;
    background: #858280;
    color: white;
    outline: none;
    cursor: default;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-overflow: '';
}

.variable{
	color:white;
	background-color: #008CBA;
	/* font-size:16px;
	height:22px; */
}

.variable.param_box{
	vertical-align: middle; 
	text-align:left; 
	width: 5em
}

.paramHelp {
	padding:5 5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	#background-color:#ebe9e7;
}


.paramHelp.helpSelected {
	%box-shadow: 0 4px 8px 0 rgba(0,140,186,0.2), 0 6px 20px 0 rgba(0,140,186,0.19);
	border-style:solid;
	border-color:#008cba;
}


.refLink{
	text-decoration: none; 
	color:#008CBA;
}






.helpSelected.ref {
	background-color:#708090;
    border-radius: 8px;
    padding:5 20;
	color:white;
	border-style:solid;
	border-color:black;
	border-width:0.5px;
}



.helpSelected.ref * {
	color:white;
}



.parameter-disabled {
	
    margin: 0 auto;
    background: #858280;
    outline: none;
    cursor: default;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-overflow: '';
	color: white;
	-webkit-text-fill-color:white;
	
	
}



input {
	box-shadow: none;
}



.textboxBlue{
	color:white;
	background-color: #008CBA;


}


.textboxBlue::-webkit-input-placeholder{
    color:white;
}

.textboxBlue::-moz-placeholder{
    color:white;
}


.variable-active{
	background-color: #1e7d1e;
	color:white;
	cursor:pointer;
}

.variable-cursor{
	cursor: url("src/Images/cursorHover.png"), pointer;
}

.distn{
	padding: 3 3;
	vertical-align: middle; 
	width:50px; 
	height:18px;
	float:right;
	cursor:pointer;
}

@media only screen and ( max-device-width: 1000px ) {
	.distn{
		width:60px; 
		height:20px;
	}
}


.distn_inline{
	padding: 3 3;
	vertical-align: bottom; 
	width:38px; 
	height:12px;
	text-align:right;
	cursor:pointer;
}




/* Slider toggle CSS. Modified from https://www.w3schools.com/howto/howto_css_switch.asp */


 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
  vertical-align:middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}



.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 6px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .3s;
	transition: .3s;
}



.notboolean{
	background-color: #008CBA;	
}

input:checked + .slider {
	background-color: #008CBA;		
}

input:focus + .slider {
	box-shadow: 0 0 1px #008CBA;
}

input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 30px;
}

.slider.round:before {
	border-radius: 50%;
	
} 


.rangeslider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 2em; /* Specified height */
    background: #008cba; 
    outline: none; /* Remove outline */
	border-radius: 1.5em;
	transform: rotate(90deg);
	transform-origin: left top 0;
	margin-left: 3em;
	padding:0.5em 0.5em;
}


/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.rangeslider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: white; 
    cursor: pointer; /* Cursor on hover */
	border-radius: 20px;
}

.rangeslider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: white; 
    cursor: pointer; /* Cursor on hover */
	border-radius: 20px;
}


.xml_link {

    padding: 5 5; 
    background-color:#F8F8F8;
    color:#008cba;
    border-style:solid;
    border-width:1px;
    border-color:black;
	border-radius: 5px;
}

.xml_link a{
    color:#008cba;
    text-decoration:underline;
}


.param_link {
    cursor:pointer;
    color:#008cba;

}

.section{
	font-family:Raleway, Arial;
	margin-bottom:0.5em;
	text-transform: uppercase; 
}


.subsection {
	font-family:Raleway, Arial;
}


.block-subtitle{
	font-family:Raleway, Arial;
}

.block-subsubtitle{
	font-family:Raleway, Arial;
}


.about_screenshot{
	 width:22em; 
	 margin: 10 30;
	 border-style: solid;
	 border-color:black;
	 border-width:1px;
	 display: inline-block;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about_screenshot.full_width{
	 width:90%; 
	 margin-left:5%;
	 text-align:center;
	 margin-top:1em;
	 margin-bottom:1em;
}


.flex-image{
	display:flex; 
	flex-wrap: wrap; 
	 align-items: center;
	%align-content: flex-start; 
	justify-content: center; 
	%align-content: space-between
	vertical-align:middle;
}


.flex-image > .caption {
	%width:32.4em; 
	width:22em; 
	vertical-align:middle;
}

.flex-image-vertical{
	display:flex; 
	flex-direction: column;
}



.flex-image.large .about_screenshot {
	width:26em; 
}


.flex-image.large > .caption {
	%width:20em; 
	width:26em; 
}




.DOIview{
	 %background-color:#ebe9e7;
	 padding: 4 4;
	 border-style:solid;
	 border-width:0.5px;
	 border-radius:5px;
	 white-space: nowrap;
	 display: inline-block;
}

.DOIview b{
	%color:#b20000;
	color:black;
}

.DOIview a{
	text-decoration:underline; 
	color:#008cba

}

.ref.helpSelected > .DOIview b{
	color:white;
}

.ref.helpSelected > .DOIview a{
	color:white;
}



#contents .contents_sect{

	font-size:18px; 
	color:#008cba;
	font-family:Raleway, Arial;
	%text-transform: uppercase; 
}

#contents .contents_subsect{

	font-size:17px; 
	
}


#contents .contents_subsubsect{

	font-size:16px; 
	
}


.panel_title{
	font-family:Raleway, Arial;
	font-weight:bold;
	font-size:16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


:disabled {
	cursor:auto;
}





.button{
	cursor:pointer;
	margin-left:5px;
	margin-right:5px;
	font-size: 15px; 
	background-color:#008CBA; 
	padding: 8 8;
	line-height:2em;
	color:white;
	border-radius: 5px;
	
	border-style: solid; 
	border-width: 1px; 
	border-color:#008cba; 
	
	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.button:hover{
	color:#008CBA; 
	background-color:white;
 
	
}




.button.extraline{
	line-height:2.5em;
}


.button.selected{
	background-color:#b20000;
	border-color:#b20000;
	color:white;
	cursor:auto;
}

.button_disabled {
	cursor:auto;
	background: #858280;
	border-color:#858280;
    color: white;
}


.button_disabled:hover {
	cursor:auto;
	background: #858280;
    color: white;
}




.button.ntp {
	line-height:1em;
}


.dialog_cont{
	z-index:1000;
	position:fixed;
	width:80%;
	text-align:center;
	margin-left:10%;
	top:10vh; 
	min-height:200px;
}


.dialog_outer{
	text-align:center;
	background-color:#008cba; 
	padding: 10 10; 
	margin:auto;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.dialog_inner{
	background-color: white; 
	padding: 10 10; 
	text-align:center; 
	font-size:15; 
	overflow-y:auto
}


.code-block{
	 padding: 2 10; 
	 %background-color:#ebe9e7; 
	 font-size:15px;
	 %border-style:solid;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-left:2em;
	margin-right:2em;
}






